//-> MIXINs
@mixin user-select($prop: none) {
	-moz-user-select: $prop;
	-ms-user-select: $prop;
	-webkit-user-select: $prop;
	-o-user-select: $prop;
	user-select: $prop;
}

/*@mixin fwt-relleno {
	+background-image(linear-gradient(left top, rgba(255,255,255,0.41), rgba(255,255,255,0.12)));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7affffff', endColorstr='#1fffffff',GradientType=1 );
	+box-shadow(0 0 15px rgba(255, 255, 255, 0.1) inset, 0 0 6px rgba(0, 0, 0, 0.4));
}*/

@font-face {
    font-family: "OpenSans";
    src: url(f/open-sans-trio.svg#400) format("svg"),url(f/open-sans-400.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "OpenSans";
    src: url(f/open-sans-trio.svg#600) format("svg"),url(f/open-sans-600.woff) format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "OpenSans";
    src: url(f/open-sans-trio.svg#700) format("svg"),url(f/open-sans-700.woff) format("woff");
    font-weight: 700;
    font-style: normal
}
@font-face {
	font-family: "MPlus";
	src: url(f/mplus2p.svg.svg#svg-id) format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "MPlus";
	src: url(f/mplus2p.svg.svg#svg-id) format("svg");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "MPlus";
	src: url(f/mplus2p.svg.svg#svg-id) format("svg");
	font-weight: 700;
	font-style: normal;
}

* {
	font-family: 'OpenSans';
	//font-family: 'MPlus';
}

.clear {
	clear: both;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	min-height: 150px;
	
	background: #888;
	overflow: hidden;

	.fondo {
		background: url("g/wall.jpg") center no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
	}

	.fondo.v {
		opacity: 1;
		transition: all 0.6s ease-out 0s;
	}


	main {
		height: 100%;
		width: 100%;
	}

	section {
		position: absolute;
		overflow: hidden;
		box-sizing: border-box;
		top: 0;
		height: 100%;
		width: 100%;
		left: 100%;
		//transition: transform 0.5s linear 0s;

		//&.a-right { transform:  translateX( 100%); transition: transform 5s linear 0s }
		//&.a-left  { transform:  translateX(-100%); transition: transform 5s linear 0s }
		//&.right   { transform:  translateX( 100%) }
		//&.left    { transform:  translateX(-100%) }
		&:first-child  { left: 0 }
	}

	footer {
		display: none;
		user-select: none;
		bottom: 0;
		color: rgba(255, 255, 255, 0.45);
		cursor: default;
		font-size: 11px;
		height: 20px;
		left: 0;
		font-weight: 700;
		line-height: 20px;
		padding: 0 8px;
		position: absolute;
		right: 0;
		opacity: 0.6;
		z-index: 100;
		transition: all 0.15s linear 0s;

		a {
			transition: all 0.15s linear 0s;
			color: rgba(255, 255, 255, 0.45);
			cursor: pointer;
			text-decoration: none;
	
			&:hover, &:focus {
				transition: all 0.15s linear 0s;
				outline: 0;
				color: rgba(255, 255, 255, 0.4);
			}
		}

		&:hover {
			opacity: 1;
		}
	}

	.right {
		float: right;
	}

	/*@media screen and (min-height: 460px) {
		footer {
			font-size: 13px;
			height: 24px;
			line-height: 24px;
			padding: 0 7px;

			#right {
				right: 7px;
			}
		}
	}

	@media screen and (min-height: 650px) {
		footer {
			font-size: 16px;
			height: 32px;
			line-height: 32px;
			padding: 0 11px;

			#right {
				right: 11px;
			}
		}
	}*/

	footer.hidden {
		bottom: -32px;
	}

/*#layout
	bottom: 0
	left: 0
	overflow: hidden
	position: absolute
	right: 0
	top: 0

	section
		left: 0
		overflow: hidden
		position: absolute
		width: 100%
		top: 0
		bottom: 18px
		display: none

	@media screen and (min-height: 460px)
		section
			bottom: 24px

	@media screen and (min-height: 650px)
		section
			bottom: 32px

	section.center
		+transition(left 0.4s ease-out 0s)
		left: 0 !important

	section.left
		+transition(left 0.4s ease-out 0s)
		left: -100% !important	

	header#top
		//+box-shadow(0 0 8px rgba(0, 0, 0, 0.2))
		+user-select(none)
		background: rgba(255, 255, 255, 0.06)
		top: 0
		color: rgba(255, 255, 255, 0.25)
		cursor: default
		font-size: 11px
		font-weight: 600
		height: 18%
		max-height: 120px
		left: 0
		line-height: 20px
		position: absolute
		right: 0
		
		#right
			line-height: 20px
			position: absolute
			right: 6px
			top: 0
		
			a
				+transition(all 0.15s linear 0s)
				color: rgba(255, 255, 255, 0.2)
				cursor: pointer
				outline: 0
				text-decoration: none
		
				&:hover, &:focus
					color: rgba(255, 255, 255, 0.4)
					outline: 0

	header#corner
		//+box-shadow(0 0 8px rgba(0, 0, 0, 0.2))
		+user-select(none)
		background: rgba(255, 255, 255, 0.06)
		top: 0
		color: rgba(255, 255, 255, 0.25)
		cursor: default
		font-size: 11px
		font-weight: 600
		width: 18%
		max-width: 120px

		left: 0
		line-height: 20px
		position: absolute
		bottom: 0

#overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: url(g/darknoise.png) rgba(0, 0, 0, 0.7)
	z-index: 999
	display: none

	#languages
		width: 240px
		height: 270px
		position: absolute
		background: rgba(255, 255, 255, 0.8)
		border-radius: 2px
		left: 50%
		overflow: auto
		top: 50%
		margin-left: -120px
		margin-top: -135px
		padding: 4px 0

		.item
			height: 28px
			line-height: 27px
			margin: 2px 5px
			padding: 3px 8px
			padding-left: 42px
			opacity: 0.7
			font-size: 19px
			color: rgba(0, 0, 0, 0.7)
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			+transition(all 0.15s linear 0s)
			background: no-repeat 9px center
			cursor: pointer

			&:hover
				background-color: rgba(0, 0, 0, 0.08)
				opacity: 1

			&.selected
				background-color: rgba(0, 0, 0, 0.18)
				opacity: 1
				font-weight: 700

			&.en
				background-image: url(g/flags/en.png)
			&.es
				background-image: url(g/flags/es.png)
			&.fr
				background-image: url(g/flags/fr.png)
			&.it
				background-image: url(g/flags/it.png)
			&.de
				background-image: url(g/flags/de.png)
			&.pt
				background-image: url(g/flags/pt.png)
			&.jp
				background-image: url(g/flags/jp.png)
			&.ru
				background-image: url(g/flags/ru.png)

	@media screen and (max-height: 240px)
		#languages
			top: 3px
			bottom: 3px
			margin-top: 0
			height: auto

	@media screen and (max-width: 270px)
		#languages
			left: 3px
			right: 3px
			margin-left: 0
			width: auto*/

}