//-> MIXINs
=user-select($prop: none)
	-moz-user-select: $prop
	-ms-user-select: $prop
	-webkit-user-select: $prop
	-o-user-select: $prop
	user-select: $prop

=fwt-relleno
	+background-image(linear-gradient(left top, rgba(255,255,255,0.41), rgba(255,255,255,0.12)))
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7affffff', endColorstr='#1fffffff',GradientType=1 )
	+box-shadow(0 0 15px rgba(255, 255, 255, 0.1) inset, 0 0 6px rgba(0, 0, 0, 0.4))

@font-face
	font-family: "Lato"
	src: url('f/lato300-webfont.svg') format('svg'), url('f/lato300-webfont.ttf') format('truetype')
	font-weight: 300
	font-style: normal
@font-face
	font-family: "Lato"
	src: url('f/lato400-webfont.svg') format('svg'), url('f/lato400-webfont.ttf') format('truetype')
	font-weight: 400
	font-style: normal
@font-face
	font-family: "Lato"
	src: url('f/lato700-webfont.svg') format('svg'), url('f/lato700-webfont.ttf') format('truetype')
	font-weight: 700
	font-style: normal

*
	position: relative

.clear
	clear: both
	
html, body
	height: 100%
	margin: 0
	padding: 0
	width: 100%
	font-family: 'Lato', 'Calibri', Arial, sans-serif

#layout
	//background: url(darknoise.png) center
	bottom: 0
	left: 0
	overflow: hidden
	position: absolute
	right: 0
	top: 0

	section
		height: 100%
		left: 0
		overflow: hidden
		position: absolute
		right: 0
		top: -100%
		background: #17334B url(g/wall.jpg) center no-repeat
		background-size: cover

		&.device
			background: #17334B

	header#top
		//+box-shadow(0 0 8px rgba(0, 0, 0, 0.2))
		+user-select(none)
		background: rgba(255, 255, 255, 0.06)
		top: 0
		color: rgba(255, 255, 255, 0.25)
		cursor: default
		font-size: 11px
		font-weight: 600
		height: 18%
		max-height: 120px
		left: 0
		line-height: 20px
		position: absolute
		right: 0
		
		#right
			line-height: 20px
			position: absolute
			right: 6px
			top: 0
		
			a
				+transition(all 0.15s linear 0s)
				color: rgba(255, 255, 255, 0.2)
				cursor: pointer
				outline: 0
				text-decoration: none
		
				&:hover, &:focus
					color: rgba(255, 255, 255, 0.4)
					outline: 0

	header#corner
		//+box-shadow(0 0 8px rgba(0, 0, 0, 0.2))
		+user-select(none)
		background: rgba(255, 255, 255, 0.06)
		top: 0
		color: rgba(255, 255, 255, 0.25)
		cursor: default
		font-size: 11px
		font-weight: 600
		width: 18%
		max-width: 120px

		left: 0
		line-height: 20px
		position: absolute
		bottom: 0

#overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: url(darknoise.png) rgba(0, 0, 0, 0.7)
	z-index: 999
	display: block

	#languages
		width: 240px
		height: 270px
		position: absolute
		background: rgba(255, 255, 255, 0.8)
		border-radius: 2px
		left: 50%
		overflow: auto
		top: 50%
		margin-left: -120px
		margin-top: -135px
		padding: 4px 0

		.item
			height: 28px
			line-height: 30px
			margin: 2px 5px
			padding: 3px 8px
			padding-left: 42px
			opacity: 0.7
			font-size: 19px
			color: rgba(0, 0, 0, 0.7)
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			+transition(all 0.15s linear 0s)
			background: no-repeat 9px center
			cursor: pointer

			&:hover
				background-color: rgba(0, 0, 0, 0.08)
				opacity: 1

			&.selected
				background-color: rgba(0, 0, 0, 0.18)
				opacity: 1
				font-weight: 700

			&.en
				background-image: url(g/flags/en.png)
			&.es
				background-image: url(g/flags/es.png)
			&.fr
				background-image: url(g/flags/fr.png)
			&.it
				background-image: url(g/flags/it.png)
			&.de
				background-image: url(g/flags/de.png)
			&.pt
				background-image: url(g/flags/pt.png)
			&.jp
				background-image: url(g/flags/jp.png)
			&.ru
				background-image: url(g/flags/ru.png)

	@media screen and (max-height: 240px)
		#languages
			top: 3px
			bottom: 3px
			margin-top: 0
			height: auto

	@media screen and (max-width: 270px)
		#languages
			left: 3px
			right: 3px
			margin-left: 0
			width: auto