section#game {
	@include user-select(none);
	bottom: 0;

	> div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	//header {
	//	position: fixed;
	//	background: red;
	//	top: 0;
	//	left: 0;
	//	right: 0;
	//	height: 10%;
	//	min-height: 36px;
	//}

	aside {
		position: absolute;
		border-radius: 1px;
		background: rgba(0,0,0,0.25);

		&.vertical {
			top: 0;
			bottom: 0;
			width: 12%;
		}

		&.horizontal {
			right: 0;
			left: 0;
			height: 12%;
		}

		.ad-v {
			height: 800px;
			//@media(min-width: 600px){ width: 100px }
			//@media(min-width: 700px){ width: 125px }
			//@media(min-width: 1000px){ width: 155px }
			width: 20%;
			background: red;
			display: none;
		}

		.ad-h {
			display: none;
		}
	}

	&.v {

		#board {
			text-align: center;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			border-radius: 1px;
			background: rgba(0,0,0,0.25);

			canvas {
				//border-radius: 2px;
				//background: rgba(0,0,0,0.5);
				//box-shadow: 0 0 7px rgba(0,0,0,0.35) inset;
				display: block;
			}

			header {
				position: relative;
				background: red;
				height: 100%;
				width: 120px;
				display: inline-block;
			}
		}

	}


//	#next
//		+border-radius(1px 1px 0 0);
//		background: rgba(255, 255, 255, 0.2);
//		cursor: default;
//		height: 180px;
//		left: 0;
//		overflow: hidden;
//		position: absolute;
//		top: 0;
//		width: 120px;
//
//		.newNext
//			left: -120px;
//			opacity: 0;
//			position: absolute;
//			top: 0;
//
//		#score
//			+text-shadow(0 0 6px rgba(0, 0, 0, 0.4));
//			color: rgba(255, 255, 255, 0.5);
//			font-size: 15px;
//			height: 20px;
//			left: 5px;
//			line-height: 20px;
//			position: absolute;
//			text-align: center;
//			top: 153px;
//			width: 110px;
//
//		#level
//			+text-shadow(0 0 6px rgba(0, 0, 0, 0.4));
//			color: rgba(255, 255, 255, 0.5);
//			font-size: 13px;
//			height: 20px;
//			left: 5px;
//			line-height: 20px;
//			overflow: visible;
//			position: absolute;
//			text-align: center;
//			top: 128px;
//			width: 110px;
//
//		#l1, #l2
//			//+box-shadow(0 0 2px rgba(0, 0, 0, 0.3))
//			background: rgba(255, 255, 255, 0.2)
//			height: 1px
//			left: 5px
//			position: absolute
//			top: 124px
//			width: 110px
//
//		#l2
//			top: 150px
//
//	.button
//		+transition(all 0.15s linear 0s)
//		background: rgba(255, 255, 255, 0.2)
//		color: rgba(255, 255, 255, 0.5)
//		font-size: 13px
//		height: 24px
//		left: 0
//		line-height: 24px
//		position: absolute
//		font-weight: 600
//		padding-left: 12px
//		width: 108px
//
//		&:hover
//			background: rgba(255, 255, 255, 0.3)
//			color: rgba(255, 255, 255, 0.7)
//			cursor: pointer
//
//		&#paus
//			top: 181px
//		&#newg
//			top: 206px
//		&#sett
//			top: 231px
//		&#back
//			+border-radius(0 0 1px 1px)
//			top: 256px
//	
//	#adGame
//		top: 285px
//		height: 240px
//		left: 0
//		position: absolute
//		width: 120px
//		@media screen and (max-height: 560px)
//			display: none
//	

	
//	#osd
//		+text-shadow(0 0 3px #000)
//		color: rgba(255, 255, 255, 0.8)
//		font-size: 17px
//		position: absolute
//		text-align: center
//		
//		div
//			opacity: 0
//			position: absolute
//			text-align: center
//			width: 500px
//		.line
//			font-size: 22px
//
//	#big-paused
//		background: url(g/big-paused.svg)
//		background-size: 100%
//		position: absolute
//		top: 50%
//		left: 50%
//		width: 80px
//		height: 80px
//		display: none
//
//	.fpsmetter
//		position: absolute
//		z-index: 300
//		right: 5px
//		top: 5px
//		background: rgba(0, 0, 0, 0.5)
//		color: rgba(180, 180, 0, 0.4)
//		font-weight: bold
//		font-size: 11px
//		width: 60px
//		padding: 4px 0 4px 3px
//		border-radius: 1px
//		text-align: center
//		border-right: 3px solid rgba(0, 0, 0, 0)
//
//		&.rp
//			border-right: 3px solid rgba(180, 180, 0, 0.8)//

}