section#main
	+user-select(none)
	min-height: 120px

	display: block

	#frame1
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0

		@media screen and (min-width: 1100px)
			width: 1100px
			margin-left: -550px
			left: 50%

		@media screen and (min-height: 700px)
			height: 700px
			margin-top: -350px
			top: 50%


		#title
			width: 82%
			left: 9%
			bottom: 76%
			position: absolute
			height: 12%
			background: url(g/title.png) center no-repeat
			background-size: contain
			overflow: visible
			max-height: 65px

		//#languages
		//	color: rgba(255, 255, 255, 0.3)
		//	font-size: 12px
		//	font-weight: 600
		//	left: 50%
		//	letter-spacing: 1px
		//	margin-left: -325px
		//	margin-top: 55px
		//	position: absolute
		//	text-align: center
		//	top: 19%
		//	width: 650px
		//	word-spacing: 2px
		//	display: none

		//	span
		//		+transition(all 0.15s linear 0s)
		//		color: rgba(255, 255, 255, 0.25)
		//		cursor: pointer

		//		&:hover
		//			color: rgba(255, 255, 255, 0.5)

		//		&.selected
		//			color: rgba(255, 255, 255, 0.6)

	#frame2
		position: absolute
		border: 1px solid rgba(255, 255, 255, 0.2)
		left: 0
		bottom: 16%
		right: 0
		top: 32%
		text-align: center

		#sight
			border-radius: 2px
			border: 5px solid rgba(255, 255, 255, 0.2)
			box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.3)
			left: 50%
			top: 50%
			position: absolute

		//@media screen and (min-height: 300px)
		//	#sight
		//		margin-left: -150px
		//		left: 50%

	#selector
		height: 220px
		margin-top: -100px
		position: absolute
		top: 63%
		width: 100%
		display: none

		#tiles
			height: 220px
			left: 0
			overflow: visible
			position: absolute
			right: 0
			
			.tile
				+transition(all 0.3s linear 0s)
				background-color: rgba(255, 255, 255, 0.1)
				background-position: 36px 24px
				background-repeat: no-repeat
				border-radius: 1px
				color: rgba(255, 255, 255, 0.2)
				cursor: pointer
				display: none
				font-size: 13px
				font-weight: 600
				height: 200px
				left: 50%
				line-height: 346px
				position: absolute
				text-align: center
				top: 10px
				width: 200px

				&#t0
					background-image: url(g/tile-savedGame.png)
				&#t1
					background-image: url(g/tile-newGame.png)
				&#t2
					background-image: url(g/tile-customize.png)
				&#t4
					background-image: url(g/tile-rankings.png)
				&#t5
					background-image: url(g/tile-help.png)