section#main
	+user-select(none)
	display: block

	#bi18n
		height: 20px
		width: 28px
		position: absolute
		top: 20px
		right: 20px
		background: rgba(255,255,255,0.4) url(g/flags/es.png) no-repeat center
		cursor: pointer
		opacity: 0.6
		border-radius: 1px
		color: rgba(0,0,0,0)
		z-index: 800
		+transition(opacity 0.4s linear 0s)

		&:hover
			opacity: 1
			+transition(opacity 0.2s linear 0s)

	#frame1
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0

		@media screen and (min-width: 1100px)
			width: 1100px
			margin-left: -550px
			left: 50%

		@media screen and (min-height: 700px)
			height: 700px
			margin-top: -350px
			top: 50%

		#title
			width: 84%
			left: 8%
			bottom: 70%
			position: absolute
			height: 10.5%
			background: url(g/title.png) center no-repeat
			background-size: contain
			overflow: visible
			max-height: 90px

		#big-languages
			color: rgba(255, 255, 255, 0.3)
			font-size: 12px
			font-weight: 600
			left: 50%
			letter-spacing: 1px
			margin-left: -325px
			margin-bottom: -30px
			position: absolute
			text-align: center
			bottom: 75%
			width: 650px
			word-spacing: 2px

			span
				+transition(all 0.15s linear 0s)
				color: rgba(255, 255, 255, 0.4)
				cursor: pointer

				&:hover
					color: rgba(255, 255, 255, 0.6)

				&.selected
					color: rgba(255, 255, 255, 0.7)

	#frame2
		position: absolute
		left: 0
		right: 0
		top: 34%
		height: 54%
		text-align: center

		#selector
			position: absolute
			top: 50%
			overflow: visible
			width: 100%

			#tiles
				left: 50%
				top: 8%
				bottom: 2%
				overflow: visible
				position: absolute
				width: 100%
				
				.tile
					+transition(color 0.15s linear 0s)
					+transition(background-color 0.15s linear 0s)
					background-color: rgba(255, 255, 255, 0.12)
					background-position: 50% 32%
					background-repeat: no-repeat
					background-size: 60%
					border-radius: 2px
					color: rgba(0, 0, 0, 0.6)
					display: block
					float: left
					cursor: pointer
					margin: 0 10px
					height: 100%
					font-weight: 400
					//box-shadow: 0 0 7px rgba(0, 0, 0, 0.25)
					//background: url(cristal.png) 0 0

					.text
						bottom: 13%
						position: absolute
						width: 100%
						text-align: center

					&#t0
						background: url(g/menu/saved.png) 50% 30% no-repeat rgba(255,255,255,0.05)
						background-size: 70%, auto
					&#t1
						background: url(g/menu/new.png) 50% 30% no-repeat rgba(255,255,255,0.05)
						background-size: 70%, auto
					&#t2
						background: url(g/menu/customize.png) 50% 30% no-repeat rgba(255,255,255,0.05)
						background-size: 70%, auto
					&#t3
						background: url(g/menu/marks.png) 50% 30% no-repeat rgba(255,255,255,0.05)
						background-size: 70%, auto
					&#t4
						background: url(g/menu/help.png) 50% 30% no-repeat rgba(255,255,255,0.05)
						background-size: 70%, auto

				.tile:hover, .tile.tab
					color: rgba(0, 0, 0, 0.8) !important
					background-color: rgba(255, 255, 255, 0.15) !important
					box-shadow: 0 0 4px rgba(0, 0, 0, 0.5)